{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <th>ID</th>
            <th>Nom</th>
        </tr>

{% for departement in departements %}
    <tr>
        <td>{{ departement.id }}</td>
        <td>{{ departement.deptName }}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}
