{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Manager</th>
            <th>Description</th>
            <th>Nbre Employes</th>
        </tr>

{% for departement in departements %}
    <tr>
        <td><a href="{{ path('app_dept_show', {'id': departement.id }) }}">{{ departement.id }}</a></td>
        <td>{{ departement.deptName }}</td>
        <td>{{ departement.managers.current }}</td>

    </tr>
    {% endfor %}
    </table>
{% endblock %}
